@font-face {
  font-family: 'clarkson_scriptregular';
  src: url('clarksonscript-regular-webfont.woff2') format('woff2'),
       url('clarksonscript-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}